
@import "tailwindcss";
*{
  font-family: Arial, Helvetica, sans-serif;
}

  html,body{
    overflow-x: hidden;
} 
nav{
    position: fixed;
}
html{ 
  scroll-behavior: smooth;
  
}
input,textarea::placeholder{
  padding-left: 5px;
}
input,::target-text{
  font-size: 15px;
  font-family:  sans-serif;
}
#whatsapp{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  border-radius: 50px;
  padding: 15px;
  font-size: 22px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  text-decoration: none;
}
#dropbtn{
  
  color: white;
  padding: 1px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
#dropdown{
position: relative;
display: inline-block;
}
#dropdown-contant{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} 
#dropdown-contant a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#dropdown-contant a:hover{
  background-color: rgba(6, 6, 131);
  color: #fff;
}
#dropdown:hover #dropdown-contant{
  display: block;
}


